*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

.gradle/
build/
/bin/

helpers/db_string.txt
