<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:include="page :: head(title=${title})"></head>
	<body>
		<div th:include="page :: header"></div>
		
		<h1>My Navigation Page</h1>
		<ul>
			<li><a th:href="@{/AnalysisRequest}">Analysis Requests</a></li>
			<li><a th:href="@{/Instrument}">Instruments</a></li>
			<li><a th:href="@{/Geosample}">Geosamples</a></li>
			<!-- 08/09/16 WB Added next 2 lines -->
			<!--  <li><a th:href="@{/Geosample}">Geosamples same as above</a></li> -->
			<li><a th:href="@{/Test}">Test</a></li>
		</ul>
		
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<h1>Administration</h1>
			<ul>
				<li><a th:href="@{/Admin/Person}">People</a></li>
			</ul>
		</div>

		<div th:include="page :: footer"></div>
	</body>
</html>