<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:include="page :: head(title=${title})"></head>
	<body>
		<div th:include="page :: header"></div>
		
		<h1>People</h1>

		<a th:href="@{/Admin/Person/Create}">Create</a>
		<table th:unless="${#lists.isEmpty(people)}">
			<thead>
				<tr>
					<th>Person Id.</th>
					<th>Username</th>
					<th>Enabled</th>
					<th>Factions</th>
					<th th:colspan="${authorities.size()}">Authorities</th>
				</tr>
				<tr>
					<th colspan="4" />
					<th th:each="authority : ${authorities}" th:text="#{${authority}}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="person : ${people}">
					<td>
						<a th:href="@{/Admin/Person/} + ${person.id}" th:text="${person.id}">1</a>
					</td>
					<td th:text="${person.username}"></td>
					<td th:text="${person.enabled}"></td>
					<td>
						<span th:each="faction : ${person.factions}" th:text="${faction}"></span>
					</td>
					<td th:each="authority : ${authorities}">
						<span th:if="${person.authorities.contains(authority)}">EXPLICIT</span>
						<span th:if="${person.factionDerivedAuthorities.contains(authority)}">FACTION</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
		
		<div th:include="page :: footer"></div>
	</body>
</html>